<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= 'https://img.delicious.com.au/F_C2-w6_/w759-h506-cfill/del/2015/11/summer-cocktails-24374-3.jpg' %>');">
  <div class="banner-content">
    <h1>Le Wagon's cocktails</h1>
    <p>Awesome beverages by Mister Bikbouk</p>
  </div>
</div>
<div class="container">
  <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <%= image_tag "https://cdn.liquor.com/wp-content/uploads/2017/03/07152909/mojito-720x720-recipe.jpg", alt: "alttext", class: 'fit-image' %>
          </div>
          <%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
