<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= 'https://img.delicious.com.au/F_C2-w6_/w759-h506-cfill/del/2015/11/summer-cocktails-24374-3.jpg' %>');">
  <div class="banner-content">
    <h1>Le Wagon's cocktails</h1>
    <p>Awesome beverages by Mister Bikbouk</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-text">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail)%></h2>
            <% if cocktail.photo? %>
              <%= cl_image_tag cocktail.photo, class: 'fit-image' %>
              <% else %>
            <%= image_tag "https://cdn.liquor.com/wp-content/uploads/2017/03/07152909/mojito-720x720-recipe.jpg", alt: "alttext", class: 'fit-image' %>
            <% end %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>


